<div class="formArea">
  <%= form_tag('/messages', method: :post, :class => "sentForm") do %>
    <textarea name="content" cols="30" rows="10" style="font-size: 24px;"></textarea>
    <p><input type="submit" value="SENT" class="sentMessage"></p>
  <% end %>
</div>


